/**
 * Responsive Mixins
 * @param  {int} $px: 0  Max Width
 */
/**
 * Common Mixins
 * @return {[type]} [description]
 */
/**
 * Sections
 */
.section {
  clear: both;
  padding-bottom: 30px;
  padding-top: 30px;
}
@media only screen and (max-width: 75em) {
  .section {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.section.section-column {
  clear: none;
  padding-top: 0;
  padding-bottom: 0;
}
.section.light-gray {
  background-color: #fafafa;
}
.section.medium-gray {
  background-color: #999;
  color: #FFF;
}
.section.medium-gray h1, .section.medium-gray h2, .section.medium-gray h3, .section.medium-gray h4, .section.medium-gray h5, .section.medium-gray p, .section.medium-gray a {
  color: #FFF;
}
.section.dark-gray {
  background-color: #333;
  color: #FFF;
}
.section.dark-gray h1, .section.dark-gray h2, .section.dark-gray h3, .section.dark-gray h4, .section.dark-gray h5, .section.dark-gray p, .section.dark-gray a {
  color: #FFF;
}
.section.two-column > .module, .section.two-column > .section {
  width: 50%;
  float: left;
  clear: none;
}
@media only screen and (max-width: 37.5em) {
  .section.two-column > .module, .section.two-column > .section {
    width: 100%;
    float: none;
  }
}
.section.two-column:after {
  clear: both;
  content: '';
  display: table;
}
.section.three-column > .module, .section.three-column > .section {
  width: 33.33%;
  float: left;
  clear: none;
}
.section.three-column:after {
  clear: both;
  content: '';
  display: table;
}
.section.four-column > .module, .section.four-column > .section {
  width: 25%;
  float: left;
  clear: none;
}
.section.four-column:after {
  clear: both;
  content: '';
  display: table;
}
.section.two-column .module-inner, .section.three-column .module-inner, .section.four-column .module-inner {
  padding: 0 20px;
}
.section.two-column .module-inner:first-child, .section.three-column .module-inner:first-child, .section.four-column .module-inner:first-child {
  padding-left: 0;
}
